@if(allUsers){
  <div class="row">
    <div class="col mt-3">
      <svg xmlns="http://www.w3.org/2000/svg" (click)="backtoHome()" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
    </div>
    <div class="col mt-3">
      <h3 class="text-center mt-2">User's List</h3>
    </div>
    <div class="col mt-3">
      <input (change)="search($event)" [(ngModel)]="searchText" name="searchText" type="text"
       autocomplete="off" placeholder="search by username...">
    </div>
  </div>
<table class="table m-5">
    <thead>
      <tr>
        <th scope="col">SlNo.</th>
        <th scope="col">User Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(user of allUsers | filter:searchText:'userName';track $index) {
        <tr> 
          <td>{{user.id}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td> 
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" (click)="editUserDetails(user,$index)"
             fill="#c06006" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg> 
          </td>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" (click)="deleteUserDetails(user,$index)" fill="#e62309" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
            </svg> 
          </td>
        </tr>
      }
      @empty {
        <tr>we dont have anything</tr>
   }
    </tbody>
  </table>
}

 @if(userInfo && editUserPopup) {
    <app-edit-user [userData]="userInfo" (closePopup)="closePopup($event)"></app-edit-user>    
  }

  @if(userInfo && deleteUserPopup) {
    <app-delete-user [userData]="userInfo" (closePopup)="closePopup($event)"></app-delete-user>    
  }
