<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 m-4">
        <!-- add  -->
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://blog.hubspot.com/hubfs/sales-environment.jpg" alt="add-image">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="viewProfile()">View/EditProfile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>